<h1>Here is my question to my coach</h1>
<p>Pretty tricky question in that case</p>

<form action="/answer" method="get">
  <label for="question">Enter your question</label>
  <input type="text" id="question" name="query" placeholder="what is it that you want?">
  <input type="submit" value="Go on!">
</form>
